<%- include('../templates/header'); %>
<!-- Breadcrumbs -->
<a class="fs-6 text-decoration-none" href="/">All Tabs</a>
<h1 class="mt-4"> <%= content.artist %> - <%= content.title %> </h1>
<div class="mb-4 font-weight-light">
  <strong> BPM: </strong> <%= content.BPM %> | <strong> Tuning: </strong> <%= content.tuning %>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"> Lead </button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> Rythym </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <% if( content.lead ){ %>
  <pre class="tab-content"><code>
  <%- content.lead_tab %>
  </code></pre>
  <%} else{ %>
  <pre class="tab-content">
  
  No Lead Tabs
  </pre>
  <% } %>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <% if( content.rythym ){ %>
  <pre class="tab-content"><code>
  <%- content.rythym_tab %>
  </code></pre>
  <% } else{ %>
  <pre class="tab-content">
  
  No Rythym Tabs
  </pre>
  <% } %>
  </div>
</div>

<%- include('../templates/footer'); %>

